.campo-texto {
  width: 100%;
  margin: 24px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campo-texto input {
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0.06);
}